{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <!-- Enlace a Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ShowUsers.css' %}">
</head>

<body>

    <div class="container mt-4">

        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="text-white">Lista de usuarios</h2>
            <a href="/administrador" class="text-white">Volver al menú</a>
        </div>

        <div class="table-responsive">
            <table class="table table-light table-striped rounded-lg">
                <thead class="table-primary">
                    <tr>
                        <th>Activo</th>
                        <th>SuperUsuario</th>
                        <th>Username</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Tipo de empleado</th>
                        <th>Correo electrónico</th>
                        <th>Fecha de registro</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in users %}
                    <tr>
                        {% if usuario.is_active %}
                        <td>Si</td>
                        {% else %}
                        <td>No</td>
                        {% endif %}
                        {% if usuario.is_superuser %}
                        <td>Si</td>
                        {% else %}
                        <td>No</td>
                        {% endif %}
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.first_name }}</td>
                        <td>{{ usuario.last_name }}</td>
                        {% if usuario.is_waiter %}
                        <td>Mesero</td>
                        {% elif usuario.is_chef %}
                        <td>Chef</td>
                        {% else %}
                        <td>Ninguno</td>
                        {% endif %}
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.date_joined }}</td>
                        <td><a href="{% url 'deleteUser' usuario.id %}">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</body>

</html>