{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Lista de Productos</h1>
        <div class="row">
            {% for producto in Productos %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{% static producto.imgProducto %}" alt="Imagen del producto" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text">{{ producto.descripcion }}</p>
                            <p class="card-text">Precio: {{ producto.precio }}</p>
                            <p class="card-text">Disponible: {% if producto.disponible %} Sí {% else %} No {% endif %}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
