{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/verFactura.css' %}" />
</head>
<body>
    <div class="container">
        <h1>Factura</h1>
        <img src="{% static 'img/logo.svg' %}" alt="Logo principal" class="img-fluid mb-3"
              style="max-width: 255px" />
        <table class="info-table">
            <tr>
                <th>Numero de mesa</th>
                <td>{{ idMesa }}</td>
            </tr>
            <tr>
                <th>Id del mesero</th>
                <td>{{ user_id }}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{{ hora }}</td>
            </tr>
        </table>
        <table class="product-table">
            <tr>
                <th>Nombre del Producto</th>
                <th>Cantidad</th>
                <th>Valor del Pedido</th>
            </tr>
            {% for pedido in pedidos %}
            <tr>
                <td>{{pedido.idProducto.nombre}}</td>
                <td>{{pedido.cantidad}}</td>
                <td>${{pedido.idProducto.precio}}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>Total</th>
                <td></td>
                <td>
                ${{total}}
                </td>
            </tr>
        </table>
        <div class="footer">
            &copy; 2024 La Patrana. Todos los derechos reservados.
        </div>
    </div>
</body>
</html>
